.skillsmain{
    background-image: url('../../Assets/w.jpg');
    background-size: cover;
    height: 1165px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
}
.logo{
    height: 90px;
}

.logon{
    height: 40px;
    margin-top: 50px;
    
}
.r1{
    margin-top: 80px;
    display: flex;
    gap: 100px;
    margin-left: 200px;
}
.r2{
    margin-top: 70px;
    display: flex;
    gap: 120px;
    margin-left: 200px;
}
.r3{
    margin-top: 70px;
    display: flex;
    gap: 140px;
    margin-left: 200px;
}
.r4{
    margin-top: 70px;
    display: flex;
    gap: 135px;
    margin-left: 200px;
}
.cloud10{
    width: 50%; /* Adjust the percentage as needed */
    height: auto; /* Maintain the aspect ratio */
    opacity: 0.2;
    position: absolute;
    bottom: 350px;
    right: 100px;
}
.skillt{
    font-size: 50px;
}
.sl{
    background-color: black;
    height: 3px;
    width: 100px;
    margin-left: 20px;
}
@media screen and (max-width:1250px) {
    .logo{
        height: 70px;
    }
    .logon{
        height: 30px;
    }
    .r1{
        margin-left: 10px;
        margin-top: 20px;
    }
    .r2{
        margin-left: 10px;
        margin-top: 20px;
    }
    .r3{
        margin-left: 10px;
        margin-top: 20px;
    }
    .r4{
        margin-left: 10px;
        margin-top: 20px;
    }
    .skillsmain{
        height: 1200px;
    }
}
@media screen and (max-width:768px) {
    .skillsmain {
        height: 80vh;
        width: 100vw;
        background-size: contain;
        background-position: center top;
        background-repeat: no-repeat;
        margin-top: -230px;
        background-attachment: scroll;
      }
      .logo{
        height: 40px;
      }
      .logon{
        height: 20px;
        margin-top: 35px;
      }
      .r1{
        margin-left: -10px;
        gap: 70px;
      }
      .r2{
        margin-left: -10px;
        gap: 75px;
      }
      .r3{
        margin-left: -10px;
        gap: 85px;
      }
      .r4{
        margin-left: -10px;
        gap: 85px;
      }
      .skillt{
        font-size: 30px;
        margin-top: -24px;
      }
      .sl{
        width: 60px;
        margin-left: 20px;
    }
    .cloud10{
        position: static;
    }
}